<div id="attributes_table_employee_1" class="attributes_table">
  <table>
    <tbody>
      <tr><th>Type</th><td><%= address.address_type.titleize %></td></tr>
      <tr><th>Shipping Same as Billing</th><td><%= address.same_as_billing %></td></tr>
      <tr><th>ATTN</th><td><%= address.address_name.titleize %></td></tr>
      <tr><th>Street</th><td><%= address.street.titleize %></td></tr>
      <tr><th>City</th><td><%= address.city.titleize %></td></tr>
      <tr><th>State</th><td><%= address.state.titleize %></td></tr>
      <tr><th>Zip</th><td><%= address.zip %></td></tr>
    </tbody>
  </table>
</div>