<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"><%= image_tag('logo.png') %></a>
        <div class="nav pull-left">
          <li><%= link_to 'Features', "#" %></li>
          <li><%= link_to 'Pricing', "#" %></li>
          <li><%= link_to 'Sign Up', "#" %></li>
        </div>
        <div>
          <ul class="nav pull-right">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", "#" %></li>
              <li><%= link_to "Help", "#" %></li>
              <li><%= link_to "Contact", "#" %></li>
              <li><%= link_to "Log In", "#" %></li>
          </ul>
        </div>
        <div class="nav-collapse collapse">
        </div>
 		</div>
  </div>
</div>
<div id= "warning">
  <marquee behavior="scroll" direction="left"><em>Print on Rails</em> is currently in Beta. The software maybe unstable, but we are working hard to finish this software. The videos on this site are being used as placeholders until we have produced videos of our own.</marquee>
</div>
<div class="row signup">
  <div class="signup">
    <br>
    <br>
    <center><h1>You can't <em>Manage</em> What you can't <em>Track</em></h1>
      <div class="span4 text">
        <p>In the Imprinted Apparel Industry, order management should be easy. <em>Print on Rails</em> is a simple to use so you can focus on running your business.</p>
        <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-primary" %>
      </div>
      <div class="span6 feature-video">
        <iframe src="http://player.vimeo.com/video/4946316?byline=0&amp;portrait=0&amp;color=ff9933&amp;" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </center>
  </div>
</div>

<div class="row">
  <center><h1><em>Print on Rails</em> makes order management easy.</h1></center>
  <div class="feature">
    <div class="span3">
      <center>
        <div class="icon-screenshot"></div>
        <h3>Simple & Focused</h3>
      </center>
        <p><em>Print on Rails</em> is designed to allow your screen print or embroidery shop to focus on printing. This software was designed to minimize mistakes throughout the production process of garment printing. Minimizing mistakes starts with the simplicity of <em>Print on Rails<em></p>
    </div>
    <div class="span3">
      <center>
        <div class="icon-cloud"></div>
        <h3>Cloud Based</h3>
      </center>
        <p><em>Print on Rails</em> is a cloud based software. What does that mean for you? 24 hours a day, 7 days a week your software is accessible and in any location provided there is an internet connection.</p>
    </div>
    <div class="span3">
      <center>
        <div class="icon-envelope-alt"></div>
        <h3>Contact Us</h3>
      </center>
        <p>You may choose to <a href="#">Email Us</a> or contact us via our social networks. </p>
         <ul id="social" >
          <li><div class="icon-facebook-sign"></div><a href=""> Facebook</a></li>
          <li><div class="icon-twitter-sign"></div><a href=""> Twitter</a></li>
        </ul>
    </div>
    <div class="span3">
      <center>
        <div class="icon-wrench"></div>
        <h3>Configurable</h3>
      </center>
        <p><em>Print on Rails</em> was designed as flexible as possible. This is the most customizable software on the market for managing orders in the screen printing and embroidery industry. You can customize categories, priorities, statuses, and types according to the needs of your business.</p>
    </div>
  </div>
</div>
<div class="features-two">
  <center><p>Start using <em>Print on Rails</em> now! <%= link_to 'Join Now!', "#", class: "btn btn-primary" %></p></center>
</div>

<div class="row videos">
    <center><h2>Check out some videos of <em>Print on Rails</em></h2></center>
    <div class="span3">
      <iframe src="http://player.vimeo.com/video/59913414?byline=0&amp;portrait=0&amp;color=ff9933" class="img-polaroid" width="250" height="141" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
     <div class="span3">
      <iframe src="http://player.vimeo.com/video/3302330?byline=0&amp;portrait=0&amp;color=ff9933" class="img-polaroid" width="250" height="141" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <div class="span3">
      <iframe src="http://player.vimeo.com/video/59913414?byline=0&amp;portrait=0&amp;color=ff9933" class="img-polaroid" width="250" height="141" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <div class="span3">
      <iframe src="http://player.vimeo.com/video/3302330?byline=0&amp;portrait=0&amp;color=ff9933" class="img-polaroid" width="250" height="141" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
</div>

<div class="row plans">
  <center><h1>Plans & Pricing</h1></center>
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <table class="table">
          <thead><center id="beta"><h3>Beta</h3><center>
          <center id="free"><h3>Free!</h3></center></thead>
          <tbody>
            <tr>
              <td><div class="icon-money"></div></td>
              <td><p>Free!</p></td>
              <td><p>$0</p></td>
            </tr>
            <tr>
              <td><div class="icon-group"></div></td>
              <td><p>Unlimited Users</p></td>
              <td><p>&infin;</p></td>
            </tr>
            <tr>
              <td><div class="icon-hdd"></div></td>
              <td>Unlimited Storage</td>
              <td><p>&infin;</p></td>
            </tr>
            <tr>
              <td><div class="icon-file-alt"></div></td>
              <td>Unlimited Orders</td>
              <td><p>&infin;</p></td>
            </tr>
            <tr>
              <td><div class="icon-time"></div></td>
              <td>Could end at anytime</td>
              <td><p>TBA</p></td>
            </tr>
          </tbody>
        </table>
        <center><div class="btn btn-primary btn-block">Sign Up</div></center>
      </div>
    </li>
  </ul>
</div>

<div class="row footer">
  <div class="footer">
    <div class="span3">
      <center><h3>Quick Links</h3></center>
      <ul id="quick">
        <li><a href="">Features</a></li>
        <li><a href="">Pricing</a></li>
        <li><a href="">About</a></li>
      </ul>
    </div>
    <span></span>
    <div class="span3">
      <center><h3>Keep In Touch</h3></center>
      <ul id="social" >
        <li><div class="icon-facebook-sign"></div><a href=""> Facebook</a></li>
        <li><div class="icon-twitter-sign"></div><a href=""> Twitter</a></li>
    </ul>
    </div>
    <div class="span3">
      <center><h3>Support</h3></center>
      <ul id="support" >
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Email</a></li>
        <li><a href="">FAQ</a></li>
      </ul>
    </div>
    <div class="span3">
      <center><h3>Print on Rails</h3></center>
      <ul id= "por" >
        <li><p>Hatcher Group</p></li>
        <li><p>Daniel Hatcher</p></li>
        <li><p>Tampa, Fl 33609</p></li>
        <li><a href="#">www.HatcherGroupTech.com<a/></li>
      </ul>
    </div>
  </div>
</div>

<div class="row masthead">
  <div class="pull-left">
    <p><a href="http://www.hatchergrouptech.com">&copy;Hatcher Group 2013</a></p>
  </div>
  <div class="pull-right">
    <div class="icon-arrow-up"> <a href="#">Back To Top<div></a>
  </div>
</div>