<div class="panel">
  <h3>line Item</h3>
    <div class="panel_contents">
      <div id="attributes_table_employee_1" class="attributes_table">
        <table cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <th>Quantity</th>
              <th>Style</th>
              <th>Color</th>
              <th>YXS</th>
              <th>YS</th>
              <th>YM</th>
              <th>YL</th>
              <th>YXL</th>
              <th>S</th>
              <th>M</th>
              <th>L</th>
              <th>XL</th>
              <th>2XL</th>
              <th>3XL</th>
              <th>4XL</th>
            </tr>
            <tr>
              <td><%= line_item.quantity %></td>
              <td><%= line_item.style %></td>
              <td><%= line_item.color %></td>
              <td><%= line_item.yxs %></td>
              <td><%= line_item.ys %></td>
              <td><%= line_item.ym %></td>
              <td><%= line_item.yl %></td>
              <td><%= line_item.yxl %></td>
              <td><%= line_item.s %></td>
              <td><%= line_item.m %></td>
              <td><%= line_item.l %></td>
              <td><%= line_item.xl %></td>
              <td><%= line_item.xxl %></td>
              <td><%= line_item.xxxl %></td>
              <td><%= line_item.xxxxl %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>