<%= form_for(@account) do |f| %>

  <div class="form-inline">
    <%= f.text_field :company, :placeholder => "Company Name", class: 'span3' %>
	    <%= fields_for :admin_users do |builder| %>
			  <%= render 'admin_users/form', :f => builder %>
			<% end %>
    <%= f.submit 'Submit', class: 'btn-submit btn-primary'%>

  </div>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>