<%= render 'layouts/nav' %>
<div class="span4">
  </div>
  <div class="span5">
    <%= form_for(@account) do |f| %>
      <div class="account-form">
        <center><h1>Free Beta trial!</h1></center>
        <div>
          <center><%= f.text_field :company, :placeholder => 'Company Name*' %></center>
        </div>
        <div>
          <center><%= text_field_tag :first, nil, :placeholder => 'First Name*' %></center>
          <center><%= text_field_tag :last, nil, :placeholder => 'Last Name*' %></center>
        </div>
        <div>
          <center><%= text_field_tag :email, nil, :placeholder => 'Email*' %></center>
        </div>
        <div>
          <center><%= password_field_tag :password, nil, :placeholder => 'Password*' %></center>
        </div>
        <div>
          <center><%= password_field_tag :password_confirmation, nil, :placeholder => 'Password Confirmation*' %></center>
        </div>
          <%= hidden_field_tag :role, 'account_admin' %>
        <div>
        </div>
          <center><%= f.submit 'Sign Up', :class => 'btn' %></center>
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
  <br>
  <br>
  <%= render 'layouts/footer' %>