<%= form_for(@account) do |f| %>

  <div class="form-inline">
    <%= f.text_field :company, :placeholder => "Company Name", class: 'span3' %>
    <%= text_field_tag :first %>
    <%= text_field_tag :last %>
    <%= text_field_tag :email %>
    <%= text_field_tag :role %>
    <%= text_field_tag :password %>
    <%= text_field_tag :password_confirmation %>
    <%= f.submit 'Submit', class: 'btn-submit btn-primary'%>

  </div>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>